BASE_PATH=/home/thilsk/Documents/12_Projects/12.02_BIL_project/6_BIL_FL
DATA_SUBDIR=data/0_dataset
SEGDATA_SUBDIR=data/1_segmented_data
RAW_FEATURE_SUBDIR=features/0_raw
CLEAN_FEATURE_SUBDIR=features/1_clean
RESULTS_SUBDIR=results
